<div>
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="projectType">
        <span i18n>Project type</span>
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input id="projectType" disabled [value]="selectedProject" />
      </nz-form-control>
    </nz-form-item>

    <!-- Name -->
    <nz-form-item>
      <nz-form-label i18n [nzSm]="6" [nzXs]="24" nzRequired nzFor="name"
        >Name</nz-form-label
      >
      <nz-form-control
        nzErrorTip="Name is required."
        nzHasFeedback
        nzValidateStatus="error"
        [nzValidateStatus]="getFormControlValidationStatus('name')"
      >
        <input nz-input id="name" formControlName="name" />
      </nz-form-control>
      <div
        *ngIf="
          validateForm.get('name')?.dirty || validateForm.get('name')?.touched
        "
      >
        <div *ngIf="validateForm.get('name')?.hasError('required')">
          Name is required.
        </div>
        <div *ngIf="validateForm.get('name')?.hasError('invalidName')">
          Invalid characters in Name field.
        </div>
      </div>
    </nz-form-item>

    <!-- Code -->

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="code" nzRequired>
        <span i18n>Code</span>
      </nz-form-label>
      <nz-form-control
        nzErrorTip="Code is required."
        nzHasFeedback
        nzValidateStatus="error"
        [nzValidateStatus]="getFormControlValidationStatus('code')"
      >
        <input nz-input id="code" formControlName="code" />
      </nz-form-control>
      <div
        *ngIf="
          validateForm.get('code')?.dirty || validateForm.get('code')?.touched
        "
      >
        <div *ngIf="validateForm.get('code')?.hasError('required')">
          Code is required.
        </div>
        <div *ngIf="validateForm.get('code')?.hasError('invalidCode')">
          Invalid characters in Code field.
        </div>
      </div>
    </nz-form-item>

    <!-- Description -->
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="description">
        <span i18n>Description</span>
      </nz-form-label>
      <nz-form-control
        nzValidateStatus="error"
        [nzValidateStatus]="getFormControlValidationStatus('description')"
      >
        <textarea
          nz-input
          id="description"
          formControlName="description"
        ></textarea>
      </nz-form-control>
      <div
        *ngIf="
          validateForm.get('description')?.dirty ||
          validateForm.get('description')?.touched
        "
      >
        <div
          *ngIf="
            validateForm.get('description')?.hasError('invalidDescription')
          "
        >
          Invalid characters in Description field.
        </div>
      </div>
    </nz-form-item>

    <nz-form-item
      *ngIf="selectedProject === 'Model Development'"
      nz-row
      class="Confirm"
    >
      <nz-form-control [nzSpan]="14" [nzOffset]="6">
        <button
          nz-button
          nzType="primary"
          type="submit"
          [disabled]="validateForm.invalid"
        >
          Confirm
        </button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
