<div>
  <form nz-form [formGroup]="validateForm" (ngSubmit)="updateForm()">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="projectType">
        <span i18n="@@projectType">Project type</span>
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input id="projectType" disabled [value]="selectedProject" />
      </nz-form-control>
    </nz-form-item>

    <!-- Name -->
    <nz-form-item>
      <nz-form-label
        i18n="@@name"
        [nzSm]="6"
        [nzXs]="24"
        nzRequired
        nzFor="name"
        >Name</nz-form-label
      >
      <nz-form-control
        [nzErrorTip]="
          validateForm.get('name')?.hasError('required')
            ? 'Name is required.'
            : validateForm.get('name')?.hasError('invalidName')
            ? 'Invalid characters in Name field.'
            : ''
        "
        nzHasFeedback
        nzValidateStatus="error"
        [nzValidateStatus]="getFormControlValidationStatus('name')"
      >
        <input
          [(ngModel)]="listOfData.name"
          nz-input
          id="name"
          formControlName="name"
        />
      </nz-form-control>
    </nz-form-item>

    <!-- Code -->
    <nz-form-item>
      <nz-form-label
        i18n="@@code"
        [nzSm]="6"
        [nzXs]="24"
        nzFor="code"
        nzRequired
      >
        Code
      </nz-form-label>
      <nz-form-control
        [nzErrorTip]="
          validateForm.get('code')?.hasError('required')
            ? 'Code is required.'
            : validateForm.get('code')?.hasError('invalidCode')
            ? 'Invalid characters in Code field.'
            : ''
        "
        nzHasFeedback
        nzValidateStatus="error"
        [nzValidateStatus]="getFormControlValidationStatus('code')"
      >
        <input
          [(ngModel)]="listOfData.code"
          nz-input
          id="code"
          formControlName="code"
        />
      </nz-form-control>
    </nz-form-item>

    <!-- Description -->
    <nz-form-item>
      <nz-form-label
        i18n="@@description"
        [nzSm]="6"
        [nzXs]="24"
        nzFor="description"
      >
        Description
      </nz-form-label>
      <nz-form-control
        nzValidateStatus="error"
        nzErrorTip="Invalid characters in Description field."
        [nzValidateStatus]="getFormControlValidationStatus('description')"
      >
        <textarea
          nz-input
          [(ngModel)]="listOfData.description"
          id="description"
          formControlName="description"
        ></textarea>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item
      *ngIf="selectedProject === 'Model Development'"
      nz-row
      class="Confirm"
    >
      <nz-form-control [nzSpan]="14" [nzOffset]="6">
        <button
          i18n="@@confirm"
          nz-button
          nzType="primary"
          type="submit"
          [disabled]="validateForm.invalid"
        >
          Confirm
        </button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
