<nz-layout class="layout">
  <nz-header>
    <ul nz-menu nzTheme="dark" nzMode="horizontal">
      <li
        nzMatchRouter
        nz-menu-item
        nzSelected
      >
        <a
          i18n="@@development"
          routerLink="/workbench/genesis/project/development"
        >
          Model Development</a
        >
      </li>
      <li
        nzSelected
        nzMatchRouter
        nz-menu-item
      >
        <a
          i18n="@@validation"
          routerLink="/workbench/genesis/project/validation"
        >
          Model Validation</a
        >
      </li>
    </ul>
  </nz-header>
  <nz-content>
    <router-outlet></router-outlet>
  </nz-content>
</nz-layout>
