<nz-layout class="layout">
  <nz-header>
    <ul nz-menu nzTheme="dark" nzMode="horizontal">
      <li
        nzMatchRouter
        nz-menu-item
        nzSelected
        (click)="onMenuClick('development')"
      >
        <a routerLink="/workbench/genesis/project/development">
          Model Development</a
        >
      </li>
      <li
        nzSelected
        nzMatchRouter
        nz-menu-item
        (click)="onMenuClick('validation')"
      >
        <a routerLink="/workbench/genesis/project/validation">
          Model Validation</a
        >
      </li>
    </ul>
  </nz-header>
  <nz-content>
    <router-outlet></router-outlet>
  </nz-content>
</nz-layout>
